[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pipenv = "*"
black = "*"
isort = "*"
pre-commit = "*"
mypy = "*"
types-setuptools = "*"

[requires]
python_version = "3.10"
