[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pipenv = "*"

[requires]
python_version = "3.10"
